<!DOCTYPE html>
<html>
<head>
  <title>railsTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">railsTwitter</a>
    </div>
  </div>
  <%= image_tag("icon_d.png", :alt => "twitBird", :class => "twitBird") %>
<%= yield %>

</body>
</html>
